@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  font-family: sans-serif;
  color: #201F22;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: #CEDEEB;
}

/*ul {*/
/*  margin: 0;*/
/*  list-style: none;*/
/*  padding: 0;*/
/*}*/

textarea {
  resize: none;
}
textarea:focus {
  outline: none;
}

button {
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*html::-webkit-scrollbar {
  width: 0;
  background: #efefef;
  height: 0px;
  display: none;
}
*/
body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  color: #201F22;
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body *::-webkit-scrollbar {
  width: 5px;
  /* ширина для вертикального скролла */
  background: #fff;
  height: 5px;
}
body *::-webkit-scrollbar-thumb {
  background-color: #E8ECEF;
  border-radius: 10px;
}
body.over-hid {
  overflow: hidden;
}
body.gray-bg {
  background: #F0F2F6;
}
body.bg-dark {
  background: var(--body-dark-background);
}
.gray-bg {
  background: #F0F2F6;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.flex {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  margin: 0 0 30px;
  text-transform: uppercase;
}

.btn {
  background: var(--button-background);
  font-weight: 700;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 2px solid var(--button-background);
  text-align: center;
  height: 50px;
  text-transform: uppercase;
  transition: background 0.3s linear;
}
.btn:hover {
  cursor: pointer;
  background: #201F22;
  border-color: #201F22;
}
.btn.btn-white {
  background-color: #fff;
  border-color: #201F22;
  color: #201F22;
}
.btn.btn-white:hover {
  background: #201F22;
  color: #fff;
}
.btn.btn-white:hover path {
  fill: #fff;
}
.btn.btn-dark {
  background-color: var(--body-dark-background);
  border-color: var(--body-dark-background);
  color: #fff;
}
/*.btn.btn-dark:hover {*/
/*  background: var(--button-background);*/
/*  border-color: var(--button-background);*/
/*}*/

header {
  background: var(--hf-background);
}

.rashclose{display:none;}

.top {
  height: 80px;
  align-items: center;
}

.logo a {
  display: block;
}
.logo img {
  display: block;
  max-height: 60px;
}

.menu {
  width: 595px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  list-style: none;
}
.menu li a {
  display: block;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
}
.menu li a.active, .menu li a:hover {
  color: #fff;
  text-decoration: underline;
}

.top-account-buttons {
  align-items: center;
  margin-right: 0;
}
.top-account-buttons .btn {
  padding: 0 23px;
  margin-right: 9px;
  height: 40px;
}
.top-account-buttons .btn:hover {
  border-color: var(--button-background);
}
.top-account-buttons .btn.btn-dark {
  border-color: #FFFFFF;
  margin-right: 0;
}
/*.top-account-buttons .btn.btn-dark:hover {*/
/*  background: var(--button-background);*/
/*  border-color: var(--button-background);*/
/*}*/

.top-lang {
  margin-left: 20px;
  margin-right: -10px;
  position: relative;
}
.top-lang button {
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  padding: 10px;
  display: block;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  outline: 0;
}
.top-lang button:hover {
  cursor: pointer;
}
.top-lang:hover .top-lang-drop {
  display: block;
}

.top-lang-drop {
  width: 180px;
  padding: 45px 0 10px 0;
  box-shadow: 0 10px 20px rgba(32, 31, 34, 0.1);
  position: absolute;
  right: -80px;
  top: 0;
  display: none;
  z-index: 1;
}
.top-lang-drop a {
  background: #FFFFFF;
  display: block;
  line-height: 35px;
  color: #201F22;
  text-align: center;
  padding: 0 8px;
}
.top-lang-drop a:hover {
  background: var(--button-background);
  color: #FFF;
}


.mob-menu-close {
  position: absolute;
  margin-left: 42px;
  color: #fff;
  background-color: #c00;
  display: none;
}
.mob-menu-close button{
  width: 30px;
  height: 30px;
  background: transparent url(../i/lite/close.svg) center no-repeat;
  background-size: 16px;
  border:0;
  outline: 0;
  box-shadow: none;
}

.mob-menu-button {
  border: 0;
  background: none;
  height: 100%;
  width: 100%;
}

.mob-menu-btn {
  display: none;
}

.main {
  background: var(--body-dark-background);
  color: #FFF;
  padding: 45px 0 50px;
  position: relative;
}
.main .title {
  margin-bottom: 47px;
}
.main.main-dark {
  padding: 45px 0 90px;
  margin-bottom: 50px;
}


.main-exchange-wrapper {
  max-width: 960px;
  width: 100%;
  justify-content: space-between;
}

.main-exchange-col {
  width: 440px;
}

.main-exchange-top {
  justify-content: flex-end;
  margin-bottom: 12px;
}
.main-exchange-top h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}
.main-exchange-top span {
  margin-left: 5px;
}

.main-exchange-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}
.main-exchange-item input {
  width: 50%;
  height: 100%;
  padding: 15px 50px 15px 30px;
  color: #201F22;
  border: none;
  outline: none;
  background: #F0F2F6;
}
.main-exchange-item input::placeholder {
  color: #201F22;
}
.main-exchange-item span {
  position: absolute;
  right: 55%;
  color: #201F22;
}

.main-exchange-valute {
  padding: 10px 50px 10px 30px;
  background: #fff;
  height: 100%;
  width: 50%;
  color: #201F22;
  display: flex;
  align-items: center;
}
.main-exchange-valute p {
  margin: 0;
}
.main-exchange-valute .drop {
  position: absolute;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 15px;
  top: 13px;
}
.main-exchange-valute:hover {
  cursor: pointer;
}

.main-page-content {
  padding: 50px 0 130px;
}

.main-exchange-form-row {
  display: flex;
  align-items: flex-start;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.main-exchange-form-row .col {
  width: 33.33333%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.main-exchange-form-row .input-group {
  position: relative;
}
.main-exchange-form-row .input-group input {
  display: block;
  width: 100%;
  height: 50px;
  background: #F0F2F6;
  padding: 10px 50px 10px 15px;
  border: none;
  outline: none;
}
.main-exchange-form-row .input-group input::placeholder {
  color: #201F22;
}
.main-exchange-form-row .input-group .add-value {
  position: absolute;
  height: 40px;
  width: 40px;
  background: transparent url(../i/lite/plus.svg) center no-repeat;
  right: 5px;
  top: 5px;
}
.main-exchange-form-row .input-group .add-value:hover {
  cursor: pointer;
}
.main-exchange-form-row .check {
  margin-bottom: 12px;
}
.main-exchange-form-row .check:last-of-type {
  margin-bottom: 0;
}

.check {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 29px;
}
.check input {
  display: none;
}
.check input + span {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: calc(50% - 9px);
  display: block;
  border: 2px solid #201F22;
  border-radius: 2px;
}
.check input:checked + span {
  background: #201F22 url(../i/lite/check.svg) center no-repeat;
}
.check a {
  color: var(--button-background);
  margin-left: 3px;
}
.check a:hover {
  text-decoration: underline;
}

.main-exchange-form-bottom {
  justify-content: center;
  margin-top: 10px;
}
.main-exchange-form-bottom .col {
  margin-bottom: 0;
}
.main-exchange-form-bottom input {
  width: 100%;
}

.main-exchange-list {
  position: fixed;
  top: 0;
  z-index: 15;
  height: 100vh;
  background: #fff;
  box-shadow: 0 10px 20px rgba(32, 31, 34, 0.1);
  width: 330px;
}
.main-exchange-list.from {
  left: -330px;
  transition: left 0.3s linear;
}
.main-exchange-list.from.active {
  left: 0;
}
.main-exchange-list.to {
  right: -330px;
  transition: right 0.3s linear;
}
.main-exchange-list.to.active {
  right: 0;
}

.main-exchange-list-title {
  padding: 25px 50px 25px 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #201F22;
}

.main-exchange-list-close {
  width: 30px;
  height: 30px;
  background: transparent url(../i/lite/close.svg) center no-repeat;
  position: absolute;
  top: 20px;
  right: 10px;
}
.main-exchange-list-close:hover {
  cursor: pointer;
}

.main-exchange-list-top {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #F0F2F6;
  margin-bottom: 10px;
}
.main-exchange-list-top a {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #201F22;
  padding: 0 12px 16px;
  border-bottom: 2px solid transparent;
  margin-bottom: -1px;
}
.main-exchange-list-top a.active, .main-exchange-list-top a:hover {
  border-color: var(--button-background);
}

.main-exchange-list-content {
  padding: 0 15px;
  max-height: calc(100vh - 150px);
  overflow: auto;
}
.main-exchange-list-content .item {
  padding: 8px 20px;
}
.main-exchange-list-content .item:hover, .main-exchange-list-content .item.active {
  background: var(--button-background);
  color: #FFF;
  cursor: pointer;
}

footer {
  padding: 47px 0 45px;
  background: var(--hf-background);
  color: #FFFFFF;
  margin: auto 0 0;
}

.footer-wrapper {
  align-items: flex-start;
  justify-content: space-between;
}

.footer-main {
  padding-right: 20px;
}

.copyright {
  margin: 0 0 27px;
  max-width: 135px;
  font-size: 12px;
}

.footer-app {
  display: block;
  margin-bottom: 5px;
  max-width:120px;
}
.footer-app img {
  max-width: 100%;
}
.footer-app.telegram{
  display: flex;
  align-items: center;
  color: #fff;
  max-width: 150px;
  width: 150px;
}

.footer-menu a {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer-menu a:hover {
  color: #797E87;
}

.footer-social h4 {
  margin: 0 0 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #D8DDE6;
}
.footer-social .flex {
  flex-direction: column;
}
.footer-social a {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer-social a:hover {
  color: #797E87;
}

.reg-login-content {
  padding: 33px 15px 70px;
}

.reg-login-wrapper {
  max-width: 570px;
  margin: 0 auto;
}
.reg-login-wrapper .title {
  text-align: center;
}
.reg-login-wrapper form {
  padding: 30px;
  background: #fff;
}
.reg-login-wrapper .input-group {
  margin-bottom: 20px;
}
.reg-login-wrapper .reg-login-bottom {
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.reg-login-wrapper .reg-login-bottom .btn {
  padding: 0 22px;
}
.reg-login-wrapper .reg-login-bottom .restore-link {
  margin-left: 18px;
  margin-right: auto;
  color: var(--button-background);
  font-size: 16px;
}
.reg-login-wrapper .reg-login-bottom .restore-link:hover {
  text-decoration: underline;
}
.f-input,
.input {
  width: 100%;
  height: 50px;
  background: #F0F2F6;
  padding: 10px 10px 10px 20px;
  color: #201F22;
  border: 1px solid #F0F2F6;
  outline: none;
}
.input::placeholder {
  color: rgba(32, 31, 34, 0.3);
}

.order-content {
  padding: 50px 0 65px;
}

.order-content-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 57px;
}

.order-content-title .title {
  margin-bottom: 7px;
}
.order-content-title p {
  margin: 0;
  font-size: 16px;
}

.order-payment-row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.order-payment-row .bs-col-6 {
  width: 50%;
  max-width: 100%;
  padding: 0 15px;
}
.order-payment-row .col {
  width: 33.33333%;
  max-width: 330px;
  padding: 0 15px;
}
.order-payment-row .col-2 {
  width: 66.66666%;
  max-width: 660px;
  padding: 0 15px;
}
.order-payment-row .col:nth-of-type(2) {
  margin: 0 auto;
}
.order-payment-row ul{
  padding: 0 15px
}

.order-payment-wrap h4 {
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0 0 13px;
}

.order-payment-wrap .btn {
  width: 100%;
  margin-bottom: 12px;
  height: 40px;
}
.order-payment-wrap .btn-x-05 {
  width: 50%!important;
}
.order-payment-wrap p {
  margin: 0 0 15px;
}
.order-payment-wrap .form-group{
  margin-bottom: 15px
}
.order-payment-wrap .form-field{
  display: flex
}
.order-payment-wrap .form-currency{
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.order-payment-wrap .form-currency img{
  max-width: 40px;
}
.order-payment-wrap .input-group {
  position: relative;
  margin-bottom: 15px;
}
.order-payment-wrap .input-group .input {
  padding-right: 40px;
}
.order-payment-wrap .input-group .icon {
  position: absolute;
  right: 15px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
}
.order-payment-wrap .input-group .icon img {
  display: block;
}
.order-payment-wrap .input-group .input-valute {
  right: 15px;
  top: 15px;
  position: absolute;
  text-transform: uppercase;
  color: #999;
}

.order-status-buttons {
  max-width: 500px;
  justify-content: space-between;
  margin: 0 auto;
}
.order-status-buttons .btn {
  width: 240px;
}

.order-status-item {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.order-status-item.order-status-success {
  background: #12BC7F;
  color: #FFFFFF;
}
.order-status-item.order-status-error {
  background: #EF4E56;
}
.order-status-item.order-status-error path {
  stroke: #201F22;
}
.order-status-item p {
  margin: 0;
  width: 50%;
}
.order-status-item p:first-of-type {
  text-align: right;
}
.order-status-item svg {
  min-width: 8px;
  margin: 0 18px;
}

.order-status-requisites {
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto 30px;
}
.order-status-requisites .item {
  width: 100%;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.order-status-requisites .item:last-of-type {
  margin-bottom: 0;
}
.order-status-requisites .item span {
  color: #797E87;
}

.order-status-error-btn {
  width: 240px;
  margin: 0 auto;
  display: flex;
}

.order-verification {
  padding: 50px 0 110px;
}

.order-verification-top {
  font-size: 16px;
  line-height: 1.3;
}
.order-verification-top p {
  margin: 0;
}
.order-verification-top .title {
  margin-top: 22px;
  margin-bottom: 40px;
}

.order-verification-info {
  width: 67%;
  padding-right: 15px;
}
.order-verification-info p {
  margin: 0 0 20px;
}
.order-verification-info .flex {
  padding-top: 30px;
  align-items: center;
}
.order-verification-info .flex .btn {
  padding: 0 40px;
  margin-right: 20px;
}
.order-verification-info .flex .btn input {
  display: none;
}
.order-verification-info .no-verification-link {
  color: var(--button-background);
  text-align: center;
}
.order-verification-info .no-verification-link:hover {
  text-decoration: underline;
}

.order-verification-img {
  width: 33%;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  background: #ccc;
}
.order-verification-img img {
  display: block;
}
.order-verification-img a {
  color: #fff;
}

.orange-text {
  color: var(--button-background);
}

.order-payment-qr img {
  display: block;
  margin: 0 auto;
}

.contacts-content, .reviews-content {
  padding-top: 33px;
}

.contacts-wrapper, .reviews-wrapper {
  flex-wrap: wrap;
}
.contacts-wrapper h3, .reviews-wrapper h3 {
  font-size: 18px;
  line-height: 1.2;
  margin: 0 0 25px;
  text-transform: uppercase;
}
.contacts-wrapper h3.last-title, .reviews-wrapper h3.last-title {
  margin-bottom: 11px;
}

.contacts-info, .reviews-info {
  width: 65.8%;
  padding: 30px 15px;
  background: #fff;
}
.reviews-info{display: flex;}
.reviews-info p {
  font-size: 16px;
  margin: 0 0 13px;
}
.reviews-info p{
  overflow: hidden;
}
.contacts-info a.contacts-email, .reviews-info a.reviews-email {
  font-size: 16px;
  margin-bottom: 15px;
  width: fit-content;
  display: block;
  color: #797E87;
}
.contacts-info a.contacts-email:hover, .reviews-info a.reviews-email:hover  {
  color: var(--button-background);
}
.reviews-info .btn {
  height: 40px;
  padding: 0 35px;
  margin-bottom: 25px;
}

.reviews-info-left {
  width: 100%;
  padding: 0 15px;
}

.contact-items{
  display: flex;
  flex-wrap: wrap;
}
.contact-items .contact-item{
  width: 50%;
  padding: 15px;
}
.contact-items .contact-item a{font-size: 16px;}
.contact-items .contact-item a:hover{color:var(--button-background)}
.contact-items .contact-item .info{
  border-top:1px solid #eee;
  margin-top:10px;
  padding-top: 5px;
  color:#707070;
}

.contacts-social a {
  display: block;
  width: fit-content;
  color: #201F22;
  margin-bottom: 22px;
}
.contacts-social a:last-of-type {
  margin-bottom: 0;
}
.contacts-social a:hover {
  color: var(--button-background);
}

.contacts-form, .reviews-form {
  width: 34.2%;
  padding-left: 30px;
  padding-bottom: 50px;
}
.contacts-form .input-group, .reviews-form .input-group {
  margin-bottom: 20px;
}
.contacts-form .input-group textarea, .reviews-form .input-group textarea {
  width: 100%;
  height: 110px;
  padding: 20px;
  border: none;
  margin-bottom: 10px;
}
.contacts-form .input, .reviews-form .input {
  background: #fff;
}
.contacts-form .btn, .reviews-form .btn {
  padding: 0 40px;
  margin-bottom: 26px;
}
.contacts-form p, .reviews-form p {
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
}

.cabinet-content {
  padding-top: 33px;
}

.cabinet-top .title {
  width: 77%;
  padding-right: 15px;
}

.cabinet-top-info {
  width: 23%;
  padding-left: 15px;
}
.cabinet-top-info strong {
  display: block;
  font-weight: 500;
}

.cabinet-main {
  width: 77%;
  padding-right: 30px;
}
.cabinet-main h3 {
  margin: 0 0 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
}
.cabinet-main .input-group {
  margin-bottom: 20px;
}

.cabinet-main-wrap {
  padding: 25px 30px 50px;
  background: #fff;
  min-height: 400px;
}

.cabinet-menu {
  width: 23%;
}

.cabinet-menu-wrapper a {
  display: flex;
  height: 50px;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: #201F22;
  padding: 5px 20px;
}
.cabinet-menu-wrapper a.active, .cabinet-menu-wrapper a:hover {
  background: #D8DDE6;
}

.cabinet-settings {
  margin: 0 -15px;
}

.cabinet-settings-left {
  width: 37%;
  padding: 0 15px;
}
.cabinet-settings-left .btn {
  min-width: 207px;
  margin: 0 0 25px;
  display: flex;
}
.cabinet-settings-left h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  margin: 0 0 16px;
}
.cabinet-settings-left form:last-of-type .btn {
  margin-bottom: 0;
}
.cabinet-settings-left .cabinet-qr {
  margin-bottom: 16px;
}
.cabinet-settings-left .cabinet-qr img {
  display: block;
  margin: 0 auto;
}
.cabinet-settings-left p {
  margin: 0 0 15px;
}
.radio-label {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}
.radio-label input {
  display: none;
}
.radio-label input + span {
  min-width: 18px;
  width: 18px;
  min-height: 18px;
  height: 18px;
  border-radius: 90%;
  border: 2px solid #201F22;
  margin-right: 10px;
  position: relative;
}
.radio-label input:checked + span {
  background: transparent url(../i/lite/radio.svg) center no-repeat;
}

.cabinet-settings-right {
  width: 63%;
  padding: 0 15px;
}
.cabinet-settings-right p {
  margin: 0 0 20px;
}
.cabinet-settings-right strong {
  display: block;
  margin-bottom: 12px;
}

.autocomplete-settings {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
  padding-right: 10px;
  margin-right: -10px;
}
.autocomplete-settings .item {
  width: calc(50% - 5px);
  margin-bottom: 10px;
  background: #F0F2F6;
  border-radius: 5px;
  padding: 3px 45px 3px 20px;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  color: #201F22
}
.autocomplete-settings .item:after {
  content: "";
  display: none;
  width: 16px;
  height: 16px;
  background: transparent url(../i/lite/ac-edit.svg) center no-repeat;
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 1;
}

.autocomplete-settings .item.ac-remove:after {
  background: transparent url(../i/lite/close.svg) center no-repeat;
}

.autocomplete-settings .item:hover {
  background: #FFE8DB;
  cursor: pointer;
}
.autocomplete-settings .item:hover:after {
  display: block;
}
.autocomplete-settings .item.success {
  background: #DCF5EC;
}
.autocomplete-settings .item.success:after {
  display: block;
  background: transparent url(../i/lite/ac-check.svg) center no-repeat;
}
.autocomplete-settings .item.success:hover {
  background: #FFE8DB;
}
.autocomplete-settings .item.success:hover:after {
  background: transparent url(../i/lite/ac-edit.svg) center no-repeat;
}

.refer-link {
  margin-bottom: 40px;
}
.refer-link label {
  margin-bottom: 18px;
  display: block;
}
.refer-link .flex .input {
  margin-right: 20px;
}
.refer-link .flex .btn {
  min-width: 165px;
}
.refer-link .flex .btn svg {
  margin-right: 10px;
}

.adv-banner-form {
  margin: 0 -15px 30px;
}

.adv-banner-img {
  width: 50%;
  padding: 0 15px;
}

.adv-banner-img-wrapper {
  background: transparent url(../i/lite/adv-banner-img-wrapper.png) center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.adv-banner-img-wrapper img {
  display: block;
}

.adv-banner-info {
  width: 50%;
  padding: 0 15px;
}

.adv-banner-list {
  position: relative;
}

.adv-banner-list-top {
  background: #FFF;
  height: 50px;
  border: 2px solid var(--button-background);
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 40px 5px 20px;
  font-size: 16px;
  margin-bottom: 30px;
  margin-right: 15px;
  max-width: 100%;
}
.adv-banner-list-top:hover {
  cursor: pointer;
}
.adv-banner-list-top:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: transparent url(../i/lite/down.svg) center no-repeat;
  position: absolute;
  right: 16px;
  top: calc(50% - 5px);
}

.adv-banner-list-content {
  display: none;
  position: absolute;
  width: 100%;
  border: 2px solid var(--button-background);
  background: #fff;
  top: 48px;
  max-height: 164px;
  overflow: auto;
}
.adv-banner-list-content .item {
  font-size: 16px;
  padding: 10px 20px;
}
.adv-banner-list-content .item:hover {
  background: var(--button-background);
  color: #fff;
  cursor: pointer;
}

.adv-banner-source p {
  margin: 0 0 16px;
}
.adv-banner-source textarea {
  width: 100%;
  padding: 15px;
  display: block;
  height: 135px;
  border-color: #F0F2F6;
  background: #F0F2F6;
  margin-bottom: 30px;
  font-size: 16px;
}
.adv-banner-source .btn {
  min-width: 165px;
}
.adv-banner-source .btn svg {
  margin-right: 10px;
}

.adv-widget-wrap h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  margin: 0 0 20px;
}

.cabinet-orders-coupon {
  margin-bottom: 20px;
}
.cabinet-orders-coupon label {
  display: block;
  margin-bottom: 18px;
}
.cabinet-orders-coupon .flex {
  align-items: center;
  justify-content: space-between;
}
.cabinet-orders-coupon .flex .input {
  width: calc(100% - 190px);
}
.cabinet-orders-coupon .flex .btn {
  width: 170px;
}

.cabinet-current-order {
  padding: 16px 20px;
  background: #F0F2F6;
  margin-bottom: 30px;
}
.cabinet-current-order h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  margin: 0 0 13px;
}
.cabinet-current-order .flex {
  justify-content: space-between;
}
.cabinet-current-order .item span {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #797E87;
  margin-bottom: 6px;
}
.cabinet-current-order .item strong {
  font-weight: 500;
  margin: 0;
  display: block;
}

.cabinet-order-item {
  background: #F0F2F6;
  margin-bottom: 30px;
}
.cabinet-order-item .item-top {
  padding: 15px 20px;
  border-bottom: 1px solid #D8DDE6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 150%;
}
.cabinet-order-item .item-top-left {
  display: inline-flex;
  align-items: center;
}
.cabinet-order-item .item-top-left h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin: 0 18px 0 0;
}
.cabinet-order-item .item-top-right {
  display: inline-flex;
  align-items: center;
}
.cabinet-order-item .item-top-right a {
  margin-left: 20px;
  color: #201F22;
}
.cabinet-order-item .item-top-right a:hover {
  text-decoration: underline;
}
.cabinet-order-item .cabinet-order-status {
  font-size: 14px;
}
.cabinet-order-item .item-info {
  padding: 20px;
}
.cabinet-order-item .item-info .flex {
  width: 100%;
  justify-content: space-between;
}
.cabinet-order-item .item-info .item-valute {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.3;
}
.cabinet-order-item .item-info p {
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
}
.cabinet-order-item .item-summ {
  margin-left: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--button-background);
}
.cabinet-order-item .item-info-left .item-valute-wrapper,
.cabinet-order-item .item-info-right .item-valute-wrapper{
  flex: 1 0 0%;
  width: 100%;
  overflow-wrap: break-word;
}
.cabinet-order-item .item-info-left .item-summ,
.cabinet-order-item .item-info-right .item-summ{
  flex: 1 0 0%;
  width: 100%;
  text-align: right;
}
.cabinet-order-item .item-info-left {
  width: calc(50% - 6px);
  padding: 0 20px 0 30px;
}
.cabinet-order-item .item-arrow {
  width: 12px;
  height: 12px;
  background: transparent url(../i/lite/down-black.svg) center no-repeat;
  margin-top: 4px;
}
.cabinet-order-item .item-info-right {
  width: calc(50% - 6px);
  padding: 0 20px 0 30px;
}
.cabinet-order-item.success {
  background: #DCF5EC;
}
.cabinet-order-item.success .cabinet-order-status {
  color: #12BC7F;
}
.cabinet-order-item.error {
  background: #FFE8DB;
}
.cabinet-order-item.error .cabinet-order-status {
  color: #EF4E56;
}

.pagination a {
  width: 32px;
  height: 32px;
  margin: 0 5px;
  color: #484D56;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}
.pagination a.page-prev {
  background: transparent url(../i/lite/down.svg) center no-repeat;
  transform: rotate(90deg);
  margin: 0 5px;
}
.pagination a.page-next {
  background: transparent url(../i/lite/down.svg) center no-repeat;
  transform: rotate(-90deg);
  margin: 0 5px;
}
.pagination a.active, .pagination a:hover {
  color: var(--button-background);
}

.cabinet-referral-wrapper {
  margin: 0 -15px 40px;
  display: flex;
}
.cabinet-referral-wrapper .col {
  width: 50%;
  padding: 0 15px;
}
.cabinet-referral-wrapper h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 0 0 24px;
  text-transform: unset;
}

.cabinet-referral-info ul {
  margin: 0;
  padding: 0;
}
.cabinet-referral-info ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 15px;
  max-width: 345px;
}
.cabinet-referral-info ul li:last-of-type {
  margin-bottom: 0;
}
.cabinet-referral-info ul li p {
  margin: 0 24px 0 0;
}

.cabinet-referral-buttons {
  align-items: center;
  margin: 20px -10px;
}
.cabinet-referral-buttons .btn {
  width: 33.33333%;
  margin: 0 10px;
}

.cabinet-api p {
  margin: 0 0 20px;
}

.cabinet-balance-top p {
  max-width: 520px;
  margin: 0 0 25px;
}

.cabinet-balance-wrapper {
  padding: 10px 20px;
  background: #F0F2F6;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.cabinet-balance-top-left span {
  display: block;
  color: #797E87;
}
.cabinet-balance-top-left h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin: 0;
}

.cabinet-balance-top-right .btn {
  padding: 0 35px;
  margin-right: 20px;
}
.cabinet-balance-top-right .btn:last-of-type {
  margin-right: 0;
}

.cabinet-balance-top-warning {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.cabinet-balance-top-warning p {
  margin: 0;
  max-width: none;
}
.cabinet-balance-top-warning a {
  color: var(--button-background);
}
.cabinet-balance-top-warning a:hover {
  color: #201F22;
}

.cabinet-balance-add h3 {
  text-transform: none;
  font-weight: 500;
  font-size: 20px;
}
.cabinet-balance-add .refer-link {
  margin-bottom: 18px;
}
.cabinet-balance-add .input {
  padding-right: 50px;
}
.cabinet-balance-add p {
  color: #797E87;
  margin: 0;
}

.cabinet-balance-withdrawal h3 {
  text-transform: none;
  font-size: 20px;
  font-weight: 500;
}
.cabinet-balance-withdrawal label {
  font-size: 16px;
  display: block;
  margin-bottom: 15px;
}
.cabinet-balance-withdrawal .input-group {
  position: relative;
  margin-bottom: 20px;
}
.cabinet-balance-withdrawal .input-group .input {
  width: 100%;
  font-size: 16px;
  padding-right: 200px;
}
.cabinet-balance-withdrawal .input-group p {
  position: absolute;
  margin: 0;
  right: 15px;
  top: 16px;
}
.cabinet-balance-withdrawal .input-group .add-value {
  position: absolute;
  height: 40px;
  width: 40px;
  background: transparent url(../i/lite/plus.svg) center no-repeat;
  right: 5px;
  top: 5px;
}
.cabinet-balance-withdrawal .input-group .add-value:hover {
  cursor: pointer;
}
.cabinet-balance-withdrawal .input-group a {
  position: absolute;
  right: 15px;
  top: 16px;
  color: var(--button-background);
  font-size: 16px;
}
.cabinet-balance-withdrawal .input-group a:hover {
  color: #201F22;
}

.cabinet-balance-withdrawal-bottom {
  display: flex;
  margin-top: 30px;
}
.cabinet-balance-withdrawal-bottom .btn {
  width: 220px;
  padding: 10px;
  margin-right: 30px;
}
.cabinet-balance-withdrawal-bottom p {
  color: #797E87;
  margin: 0;
}

.text-content {
  padding-bottom: 100px;
}

.text-content-top {
  padding: 33px 0 36px;
  text-align: center;
  background: #F0F2F6;
}
.text-content-top .title {
  margin: 0;
}
.text-content-top p {
  margin: 9px 0 0;
  font-size: 16px;
}

.text-content-main {
  padding: 50px 0;
}
.text-content-main .btn{
  margin: 15px 0;
}
.text-content-main h2 {
  margin: 45px 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 110%;
}
.text-content-main h2:first-of-type {
  margin-top: 0;
}
.text-content-main p {
  margin: 0 0 17px;
}
.text-content-main h5 {
  font-size: 14px;
  line-height: 1.3;
  margin: 0 0 40px;
}

.partners-row {
  display: flex;
  margin: 0 -15px 10px;
}
.partners-row .col {
  width: 50%;
  padding: 0 15px;
}
.partners-row p {
  padding: 13px 20px 19px;
  background: #F0F2F6;
  font-size: 16px;
  line-height: 1.3;
}
.partners-row p b {
  font-weight: 700;
}

.small-text {
  font-size: 12px;
}

.partners-bottom {
  margin: 0 -15px;
}

.partners-bottom-main {
  width: 66.66666%;
  padding: 0 15px;
}
.partners-bottom-main h5 {
  margin-bottom: 18px;
}
.partners-bottom-main li {
  margin-bottom: 16px;
}
.partners-bottom-main li a {
  color: var(--button-background);
  font-size: 16px;
}
.partners-bottom-main .btn {
  padding: 0 33px;
  margin-top: 30px;
}

.partners-bottom-table {
  width: 33.3333%;
  padding: 0 15px;
}
.partners-bottom-table table {
  width: 100%;
  font-size: 16px;
  text-align: center;
  border: 1px solid #F0F2F6;
  border-right: none;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.partners-bottom-table table th {
  width: 33.333%;
  background: #F0F2F6;
  font-weight: 400;
  border-collapse: collapse;
  line-height: 30px;
  border: 1px solid #D8DDE6;
}
.partners-bottom-table table td {
  line-height: 30px;
  border-collapse: collapse;
  border: 1px solid #F0F2F6;
}
.partners-bottom-table p {
  font-size: 12px;
  line-height: 1.5;
  color: #797E87;
}
/*
.text-content-main ol {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: item;
}
.text-content-main ol > li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
}
.text-content-main ol ol {
  padding-top: 20px;
}
.text-content-main ol ol li {
  font-size: 14px;
  font-weight: 400;
}
.text-content-main ol li {
  margin: 0 0 20px;
  display: block;
}
.text-content-main ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}*/

.main-exchange-dark {
  text-align: center;
}
.main-exchange-dark .title {
  margin-bottom: 54px;
}
.main-exchange-dark .buttons {
  display: flex;
  justify-content: center;
}
.main-exchange-dark .buttons .btn {
  padding: 0 33px;
  margin: 0 15px;
}
.main-exchange-dark .buttons .btn:hover {
  border-color: var(--button-background);
}

.dark-order-content {
  color: #fff;
}

.order-directions-row {
  justify-content: space-between;
}
.order-directions-row .btn {
  width: 320px;
  border-color: #fff;
}
.order-directions + .btn{
  margin-right: 15px;
}

.order-directions {
  width: 700px;
  justify-content: space-between;
  margin-right: 15px;
}
.order-directions a {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  height: 50px;
  width: 137px;
  margin-right: 4px;
  color: #201F22;
}
.order-directions a:last-of-type {
  margin-right: 0;
}
.order-directions a.active, .order-directions a:hover {
  color: #FFFFFF;
  background: var(--button-background);
}

.order-dark-valutes h3 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
}
.order-dark-valutes .flex {
  flex-wrap: wrap;
}
.order-dark-valutes .valutes-wrapper {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.order-dark-valutes .valutes-wrapper a {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  background: #FFFFFF;
  height: 50px;
  width: calc(33.33333% - 3px);
  margin-bottom: 5px;
  color: #201F22;
  text-align: center;
}
.order-dark-valutes .valutes-wrapper a:last-of-type {
  margin-bottom: 0;
}
.order-dark-valutes .valutes-wrapper a.active, .order-dark-valutes .valutes-wrapper a:hover {
  color: #FFFFFF;
  background: var(--button-background);
}
.order-dark-valutes .btn {
  width: 320px;
  border-color: #fff;
}
.order-dark-valutes-buttons{
  justify-content: center;
}
.order-dark-valutes-buttons .btn{
  margin-right: 15px;
  margin-bottom: 15px;
}
.order-dark-valutes-buttons .btn:last-of-type{
  margin-right: 0;
}
.order-dark-start form{
  margin-top: 15px;
}
.order-dark-start .input-group {
  width: 220px;
  position: relative;
}
.order-dark-start .input-group span {
  position: absolute;
  right: 10px;
  z-index: 1;
  color: #201F22;
  top: 16px;
}
.order-dark-start .btn {
  margin-left: 35px;
  width: 320px;
}
.order-dark-start .btn:hover {
  border-color: #fff;
  background: #201F22;
}
.order-dark-start .btn-dark {
  border-color: #fff;
}
/*.order-dark-start .btn-dark:hover {*/
/*  border-color: var(--button-background);*/
/*  background: var(--button-background);*/
/*}*/
.order-dark-start p {
  margin: 24px 0;
}
.order-dark-start p a {
  color: var(--button-background);
  position: relative;
  top: 2px;
}
.order-dark-start p a:hover {
  text-decoration: underline;
}

.order-notification {
  max-width: 745px;
}
.order-notification h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 15px;
}
.order-notification p {
  font-size: 16px;
  margin: 0 0 20px;
}
.order-notification form{
  gap: 20px;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  max-width: 660px;
  margin-top: 15px;
}
.order-notification .btn {
  max-width: 320px;
  width: 100%;
}
.order-notification .btn:hover{
  border-color: var(--button-background);
}

.our-reputation h2 {
  margin: 0 0 45px;
}
.our-reputation .btn {
  margin: 30px 0;
  padding: 0 30px;
}

.reputation-row {
  margin: 0 -15px;
  width: 100%;
}
.reputation-row .сol {
  width: 50%;
  padding: 0 15px;
}

.reputation-items h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  margin: 0 0 20px;
}
.reputation-items li {
  margin-bottom: 16px;
}
.reputation-items li:last-of-type {
  margin-bottom: 0;
}
.reputation-items li a {
  font-size: 14px;
  color: var(--button-background);
}
.reputation-items li a:hover {
  text-decoration: underline;
}

.sitemap-top .title {
  text-align: left;
}
.sitemap-top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sitemap-top .sitemap-search {
  min-width: 300px;
  width: 300px;
  margin-left: 15px;
  position: relative;
  border: 1px solid #201F22;
}
.sitemap-top .sitemap-search .input {
  padding: 5px 20px;
  padding-right: 40px;
}
.sitemap-top .sitemap-search button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}
.sitemap-top .sitemap-search button:hover {
  cursor: pointer;
}

.sitemap-links {
  margin: 25px 0;
}
.sitemap-links h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 110%;
  margin: 0 0 26px;
}
.sitemap-links ul {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.sitemap-links ul li {
  margin-bottom: 16px;
  padding: 0 15px;
  width: 33.3333%;
}
.sitemap-links ul li:last-of-type {
  margin-bottom: 0;
}
.sitemap-links ul li a {
  color: var(--button-background);
}
.sitemap-links ul li a:hover {
  text-decoration: underline;
}

.modal {
  background: #fff;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  display: none;
}
.modal .modal-title {
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}
.modal .input-group {
  margin-bottom: 18px;
}
.modal .input-group label {
  color: #201F22;
  display: block;
  margin-bottom: 15px;
}
.modal .input-group input {
  font-size: 16px;
}
.modal .input-group input::placeholder {
  color: #858DA6;
}
.modal .form-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px -10px 0;
}
.modal .form-bottom .btn {
  margin: 0 10px;
  width: 100%;
}
.modal .mfp-close {
  width: 40px;
  height: 40px;
  font-size: 0;
  background: transparent url(../i/lite/white-close.svg) center no-repeat;
  right: -40px;
  top: -10px;
}
.modal.referral-modal {
  max-width: 660px;
}
.modal.referral-modal table {
  width: 100%;
  text-align: center;
  border: 1px solid #F0F2F6;
  border-right: none;
  border-collapse: collapse;
  margin-bottom: 22px;
}
.modal.referral-modal table th {
  background: #F0F2F6;
  font-weight: 400;
  border-collapse: collapse;
  line-height: 30px;
  border: 1px solid #D8DDE6;
  padding: 5px;
}
.modal.referral-modal table td {
  line-height: 30px;
  border-collapse: collapse;
  border: 1px solid #F0F2F6;
  padding: 5px;
}
.modal.referral-modal table .waiting {
  color: #B1B4B9;
}
.modal.referral-modal .btn {
  width: 180px;
  display: flex;
  margin: 0 auto;
}
.modal.noverification-modal .modal-title {
  text-align: left;
}

.modal-wrapper {
  padding: 30px;
}

.mfp-wrap .modal {
  display: block !important;
}

.nopage-content {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
.nopage-content .title {
  text-align: center;
  margin-bottom: 33px;
}
.nopage-content .btn {
  width: 200px;
  display: flex;
  margin: 0 auto;
}
.nopage-content p {
  margin: 0 0 20px;
  text-align: center;
}
.nopage-content p strong {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 7px;
}

.cooperation-alert {
  background: #FFB341;
  color: #201F22;
}
.cooperation-alert a {
  color: #201F22;
  text-decoration: underline;
}
.cooperation-alert a:hover {
  text-decoration: none;
}
.cooperation-alert .flex {
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}
.cooperation-alert p {
  width: calc(100% - 30px);
  margin: 0;
}

.cooperation-alert-close {
  width: 16px;
  min-width: 16px;
  margin-left: 14px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cooperation-alert-close:hover {
  cursor: pointer;
}
.cooperation-alert-close:hover path {
  stroke: #fff;
  fill: #fff;
}

.order-payment-title {
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0 0 35px;
}

.container-security {
  margin-top: 15px;
}

.gray-dashed-border {
  border: 2px dashed gray;
  margin: 15px 0;
  padding: 5px;
}
.referral-table table {
  width: 100%;
  text-align: center;
  border: 1px solid #F0F2F6;
  border-right: none;
  border-collapse: collapse;
  margin-bottom: 22px;
}
.referral-table table th {
  background: #F0F2F6;
  font-weight: 400;
  border-collapse: collapse;
  line-height: 30px;
  border: 1px solid #D8DDE6;
  padding: 5px
}
.referral-table table td {
  line-height: 30px;
  border-collapse: collapse;
  border: 1px solid #F0F2F6;
  padding: 5px;
}
.b-methods>form {
  margin-bottom: 10px;
}

.ps-search input{
  background: #fff;
  height: 48px;
  border: 0;
  box-shadow: none;
  outline: 0;
  padding: 10px;
}

.logo{position: relative;}
.logo .go-main{position: absolute;font-size: 10px;text-align: center;width: 100%;color: #fff;opacity:.5;text-decoration: underline;}
.logo .go-main:hover{opacity: .9;}

/*# sourceMappingURL=lite-style.css.map */