@charset "UTF-8";

@media (max-width: 1299.98px) {
  .top-lang-drop {
    right: -5px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 990px;
  }

  .menu {
    width: 480px;
  }
  .menu li a {
    font-size: 13px;
  }

  .top-lang {
    margin-left: 10px;
  }

  .main-exchange-wrapper {
    max-width: 795px;
    justify-content: space-between;
  }

  .main-exchange-col {
    width: 390px;
  }

  .main-exchange-item input {
    width: 45%;
    padding: 10px 40px 10px 15px;
  }
  .main-exchange-item span {
    right: 58%;
  }

  .main-exchange-valute {
    width: 55%;
    padding: 10px 40px 10px 15px;
  }


  .cabinet-order-item .item-info-right,
  .cabinet-order-item .item-info-left {
    padding: 0 10px;
  }
  .order-directions-row{
    flex-wrap: wrap;
    justify-content: center;
  }
  .order-directions{
    margin-bottom: 15px
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 760px;
  }

  .top {
    position: relative;
  }

  .logo {
    max-width: 115px;
  }

  .menu {
    width: auto;
    margin-left: 10px;
    margin-right: auto;
  }
  .menu li {
    margin-right: 10px;
  }
  .menu li:last-of-type {
    margin-right: 0;
  }
  .menu li a {
    font-size: 12px;
  }

  .top-account-buttons .btn {
    padding: 0 8px;
    height: 35px;
    font-size: 12px;
  }

  .main-exchange-wrapper {
    width: auto;
    max-width: none;
    margin: 0 -15px;
  }

  .main-exchange-col {
    width: 50%;
    padding: 0 15px;
  }



  .main-exchange-form-row .col {
    width: 50%;
  }

  .main-exchange-valute .drop {
    top: 10px;
    right: 10px;
  }

  .top-lang-drop {
    top: 0
  }

  .footer-main {
    padding-right: 0;
  }

  .order-payment-wrap .btn {
    font-size: 12px;
  }
  .order-payment-wrap p {
    font-size: 12px;
  }

  .contacts-info, .reviews-info {
    padding: 30px 0;
  }

  .contacts-form .btn, .reviews-form .btn {
    width: 100%;
  }

  .cabinet-wrapper {
    flex-wrap: wrap;
  }

  .cabinet-menu {
    order: 1;
    width: 100%;
  }

  .cabinet-menu-wrapper {
    display: flex;
    overflow: auto;
  }
  .cabinet-menu-wrapper a {
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    height: 34px;
  }

  .cabinet-main {
    width: 100%;
    order: 2;
    padding: 0;
  }

  .adv-banner-source textarea {
    font-size: 14px;
  }

  .order-directions-row {
    flex-wrap: wrap;
  }
  .order-directions-row .btn {
    margin: 30px auto 0;
  }

  .order-directions {
    margin-right: 0;
    width: 100%;
  }

  .order-dark-start .btn {
    margin-left: 15px;
    width: 260px;
  }
}
@media (max-width: 767.98px) {
  body {
    font-size: 12px;
  }

  .container {
    max-width: 570px;
  }

  .btn {
    height: 40px;
    font-size: 12px;
  }

  .title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  .top-account,
.menu {
    display: none;
  }

  .top {
    height: 60px;
  }

  .logo {
    margin: 0 auto;
  }

  .mob-menu-btn {
    display: block;
    width: 54px;
    height: 60px;
    background: transparent url(../i/lite/menu.svg) center no-repeat;
    margin-left: -15px
  }

  .main {
    padding: 6px 0 33px;
    border-bottom-width: 25px;
  }

  .main-exchange-wrapper {
    flex-wrap: wrap;
  }

  .main-exchange-col {
    width: 100%;
    margin-bottom: 20px;
  }
  .main-exchange-col:last-of-type {
    margin-bottom: 0;
  }
  .main-exchange-col h3 {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .main-exchange-item {
    height: 40px;
  }

  .main-page-content {
    padding: 40px 0 100px;
  }

  .main-exchange-form-row .col {
    width: 100%;
    margin-bottom: 15px;
  }


  .mob-menu {
    opacity: 0;
    z-index: -100;
    height: auto;
    top: 60px;
    left: 0;
    width: calc(100% + 30px);
    position: absolute;
    background: #fff;
    margin: 0 -15px;
    box-shadow: 0px 10px 10px rgba(255,255,255,.3);
    transition: .4s;
  }

  .mob-menu-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #F0F2F6;
    text-transform: uppercase;
    color: #201F22;
    padding: 15px;
  }
  .mob-menu-title button{
    border: 0;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
    height: 60px;
    width: 40px;
    color:#333;
  }

  .mob-menu-content {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    height: calc(100% - 60px);
  }

  .mob-menu-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px
  }
  .mob-menu-content-wrapper ul {
    display: block;
    width: calc(50% - 8px);
  }
  .mob-menu-content-wrapper ul li {
    margin-bottom: 12px;
  }
  .mob-menu-content-wrapper ul li:last-of-type {
    margin-bottom: 0;
  }
  .mob-menu-content-wrapper ul li a {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
    color: #201F22;
  }

  .mob-menu-content-bottom {
    margin: auto 0 0 0;
    justify-content: space-between;
  }
  .mob-menu-content-bottom .btn {
    width: 100%;
  }

  .order-payment-row .col {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .order-payment-row .col:nth-of-type(2) {
    margin: 0 0 20px;
  }
  .order-payment-row .col-2{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .order-content {
    padding: 26px 0 55px;
  }

  .order-content-top {
    flex-wrap: wrap;
    margin-bottom: 32px;
    justify-content:center;
  }

  .order-content-title {
    width: 100%;
    margin-bottom: 22px;
  }
  .order-content-top .ps-search{width: 260px;}
  .order-content-top .ps-search input{width: 100%;}

  .order-status {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
  }

  .order-payment-wrap h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .order-payment-wrap .btn {
    margin-bottom: 11px;
  }
  .order-payment-wrap p {
    color: #797E87;
  }

  .order-verification {
    padding: 50px 0;
  }

  .order-verification-wrapper {
    flex-wrap: wrap;
  }

  .order-verification-top p {
    font-size: 14px;
  }
  .order-verification-top .title {
    margin-bottom: 15px;
  }

  .order-verification-img {
    order: 1;
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }
  .order-verification-img img {
    margin: 0 auto;
  }

  .order-verification-info {
    width: 100%;
    order: 2;
    padding: 0;
  }
  .order-verification-info p {
    font-size: 12px;
    line-height: 130%;
  }
  .order-verification-info .flex {
    padding-top: 0;
  }

  .contacts-info, .reviews-info {
    width: auto;
    min-width: 100%;
    margin: 0 -15px;
    flex-wrap: wrap;
    padding: 0 0 35px;
  }

  .contacts-form, .reviews-form {
    margin: 0 -15px;
    padding: 30px 15px;
    background: #F0F2F6;
    width: auto;
    min-width: 100%;
  }
  .reviews-form{
    width: calc(100% + 30px)
  }

  body.gray-bg {
    background: #fff;
  }

  .cabinet-main h3 {
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 12px;
  }

  .cabinet-main-wrap {
    padding: 30px 15px;
  }

  .cabinet-settings {
    flex-wrap: wrap;
  }

  .cabinet-settings-right {
    order: 1;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .cabinet-settings-left {
    order: 2;
    width: 100%;
    padding: 0;
  }
  .cabinet-settings-left .btn {
    width: 100%;
  }

  .cabinet-content {
    padding-bottom: 20px;
  }

  .cabinet-top {
    flex-wrap: wrap;
  }
  .cabinet-top .title {
    width: 100%;
    margin-bottom: 10px;
  }
  .cabinet-top .cabinet-top-info {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }

  .autocomplete-settings .item {
    width: 100%;
  }

  .adv-banner-form {
    flex-wrap: wrap;
  }

  .adv-banner-img {
    width: 100%;
    margin-bottom: 15px;
  }

  .adv-banner-info {
    width: 100%;
  }

  .adv-banner-list-top {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 1.3;
    height: 40px;
    margin-right: 10px
  }

  .adv-banner-source p {
    margin-bottom: 10px;
  }
  .adv-banner-source textarea {
    font-size: 12px;
    height: 100px;
    margin-bottom: 15px;
  }

  .adv-widget-wrap h2 {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .adv-widget-wrap P {
    margin: 0 0 20px;
  }

  .cabinet-orders {
    margin: 0 -15px;
  }

  .cabinet-orders-coupon {
    margin-bottom: 30px;
  }
  .cabinet-orders-coupon label {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 12px;
  }
  .cabinet-orders-coupon .flex {
    flex-wrap: wrap;
  }
  .cabinet-orders-coupon .flex .input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
  }
  .cabinet-orders-coupon .flex .btn {
    width: 100%;
  }

  .cabinet-current-order h4 {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 17px;
  }
  .cabinet-current-order .flex {
    flex-wrap: wrap;
  }
  .cabinet-current-order .item {
    width: 100%;
    display: flex;
    margin-bottom: 8px;
  }
  .cabinet-current-order .item:last-of-type {
    margin-bottom: 0;
  }
  .cabinet-current-order .item br {
    display: none;
  }
  .cabinet-current-order .item span {
    width: 50%;
    font-size: 10px;
    line-height: 1.4;
  }
  .cabinet-current-order .item strong {
    width: 50%;
    font-size: 12px;
    line-height: 14px;
  }

  .cabinet-order-item {
    margin-bottom: 10px;
  }
  .cabinet-order-item .item-top {
    padding: 15px 10px 15px 15px;
    flex-wrap: wrap;
  }
  .cabinet-order-item .item-top-left {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: 10px;
    margin-bottom: 10px;
  }
  .cabinet-order-item .item-top-left h4 {
    font-size: 16px;
    line-height: 120%;
    margin: 0 0 3px;
    width: 100%;
  }
  .cabinet-order-item .item-top-right {
    display: flex;
    width: 100%;
  }
  .cabinet-order-item .item-top-right a {
    margin-left: 15px;
    font-size: 10px;
    line-height: 1.4;
  }
  .cabinet-order-item .item-top-right a:hover {
    text-decoration: underline;
  }
  .cabinet-order-item .cabinet-order-status {
    font-size: 12px;
    line-height: 14px;
    margin-left: 0;
    margin-right: auto;
  }
  .cabinet-order-item .item-valute-wrapper {
    width: 100%;
  }
  .cabinet-order-item .item-info {
    padding: 15px;
    flex-wrap: wrap;
  }
  .cabinet-order-item .item-info .flex {
    flex-wrap: wrap;
    position: relative;
  }
  .cabinet-order-item .item-info .item-valute {
    margin-bottom: 10px;
  }
  .cabinet-order-item .item-info p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    line-height: 150%;
  }
  .cabinet-order-item .item-summ {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    line-height: 1.2;
  }
  .cabinet-order-item .item-info-left {
    width: 100%;
    padding: 0;
  }
  .cabinet-order-item .item-arrow {
    transform: rotate(90deg);
    margin: 10px auto;
  }
  .cabinet-order-item .item-info-right {
    width: 100%;
    padding: 0;
  }

  .refer-link .flex .input {
    height: 40px;
  }

  .cabinet-referral {
    margin: 0 -15px;
  }

  .cabinet-referral-wrapper {
    margin-bottom: 25px;
  }
  .cabinet-referral-wrapper h3 {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 12px;
  }

  .cabinet-referral-info ul {
    margin: 0;
    padding: 0;
  }
  .cabinet-referral-info ul li {
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 8px;
  }
  .cabinet-referral-info ul li p {
    margin-right: 15px;
  }

  .cabinet-api {
    margin: 0 -15px;
  }
  .cabinet-api p {
    margin: 0 0 16px;
    font-size: 12px;
  }

  .cabinet-balance {
    margin: 0 -15px;
  }

  .cabinet-balance-top p {
    margin-bottom: 11px;
  }

  .cabinet-balance-wrapper {
    height: auto;
    padding: 15px;
    flex-wrap: wrap;
  }

  .cabinet-balance-top-left {
    width: 100%;
    margin-bottom: 18px;
  }
  .cabinet-balance-top-left span {
    font-size: 12px;
    line-height: 130%;
  }
  .cabinet-balance-top-left h4 {
    font-size: 16px;
  }

  .cabinet-balance-top-right .btn {
    min-width: 120px;
    width: 48%;
    margin-right: 15px;
    padding: 0 10px;
  }

  .cabinet-balance-top-warning p {
    width: 100%;
    margin-bottom: 7px;
  }

  .cabinet-balance-add h3 {
    margin-bottom: 10px;
  }
  .cabinet-balance-add .refer-link {
    margin-bottom: 10px;
  }
  .cabinet-balance-add .refer-link .flex .btn {
    top: 11px;
    right: 15px;
  }
  .cabinet-balance-add .input {
    padding-right: 40px;
    background: #F0F2F6;
  }
  .cabinet-balance-add p {
    font-size: 10px;
    line-height: 1.5;
  }

  .cabinet-balance-withdrawal h3 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .cabinet-balance-withdrawal label {
    font-size: 12px;
    margin-bottom: 11px;
  }
  .cabinet-balance-withdrawal .input-group {
    margin-bottom: 16px;
  }
  .cabinet-balance-withdrawal .input-group .input {
    height: 40px;
    font-size: 12px;
    padding-right: 100px;
    padding-left: 15px;
  }
  .cabinet-balance-withdrawal .input-group p {
    top: 14px;
    font-size: 10px;
  }
  .cabinet-balance-withdrawal .input-group .add-value {
    top: 0;
  }
  .cabinet-balance-withdrawal .input-group a {
    top: 13px;
    font-size: 12px;
  }

  .cabinet-balance-withdrawal-bottom {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .cabinet-balance-withdrawal-bottom .btn {
    order: 2;
    width: 100%;
    max-width: 320px;
    margin: 0;
  }
  .cabinet-balance-withdrawal-bottom p {
    order: 1;
    width: 100%;
    margin-bottom: 12px;
    font-size: 10px;
    line-height: 1.5;
  }

  .text-content {
    padding-bottom: 30px;
  }

  .text-content-top {
    background: #fff;
    padding: 30px 0;
  }
  .text-content-top p {
    font-size: 14px;
    margin-right: 14px;
  }

  .text-content-main {
    padding-top: 0;
  }
  .text-content-main h2 {
    margin-bottom: 19px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 130%;
  }
  .text-content-main h5 {
    font-size: 13px;
    margin-bottom: 16px;
  }

  .partners-row {
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  .partners-row .col {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 10px;
  }
  .partners-row p {
    padding: 10px 15px 10px;
    font-size: 12px;
    margin: 0;
  }

  .small-text {
    font-size: 10px;
    line-height: 1.5;
  }

  .partners-bottom {
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  .partners-bottom-main {
    width: 100%;
    margin-bottom: 22px;
  }
  .partners-bottom-main .btn {
    margin-top: 18px;
    width: 100%;
    max-width: 300px;
  }

  .partners-bottom-table {
    width: 100%;
  }
  .partners-bottom-table table {
    font-size: 14px;
  }

  .terms-content-text > ol > li {
    font-size: 14px;
  }
  .terms-content-text > ol ol {
    padding-top: 15px;
  }
  .terms-content-text > ol ol li {
    font-size: 12px;
  }

  .main.main-dark {
    padding: 10px 0 25px;
  }

  .main-exchange-dark .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 65px;
    text-align: left;
  }
  .main-exchange-dark .buttons {
    flex-wrap: wrap;
  }
  .main-exchange-dark .buttons .btn {
    width: 290px;
    margin: 0 auto 20px;
  }

  .order-dark-valutes .valutes-wrapper {
    margin-right: 30px;
  }

  .order-dark-start .flex {
    flex-wrap: wrap;
  }
  .order-dark-start .input-group {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .order-dark-start .btn {
    width: 100%;
    margin: 0 0 15px;
  }
  .order-dark-start p {
    margin: 0;
  }

  .order-notification {
    max-width: 745px;
  }
  .order-notification h3 {
    margin-bottom: 5px;
  }
  .order-notification p {
    font-size: 14px;
    margin: 0 0 25px;
  }
  .order-notification .btn {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }

  .our-reputation .btn {
    width: 100%;
  }

  .reputation-row {
    flex-wrap: wrap;
  }
  .reputation-row .сol {
    width: 100%;
  }

  .reputation-items {
    margin-bottom: 30px;
  }
  .reputation-items h3 {
    font-size: 14px;
  }
  .reputation-items h3 br {
    display: none;
  }
  .reputation-items li {
    margin-bottom: 16px;
  }
  .reputation-items li a {
    font-size: 12px;
  }

  .sitemap-top .title {
    width: 100%;
    margin-bottom: 24px;
  }
  .sitemap-top .container {
    flex-wrap: wrap;
  }
  .sitemap-top .sitemap-search {
    width: 100%;
    margin: 0;
    border: none;
  }
  .sitemap-top .sitemap-search .input {
    height: 40px;
  }
  .sitemap-top .sitemap-search button {
    width: 20px;
    height: 20px;
  }

  .sitemap-links {
    margin: 30px 0 25px;
  }
  .sitemap-links h3 {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 19px;
  }
  .sitemap-links ul li {
    width: 100%;
    margin-bottom: 12px;
  }

  .modal {
    max-width: 306px;
    margin: 0 auto;
  }
  .modal .mfp-close {
    background: transparent url(../i/lite/close.svg) center no-repeat;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    background-size: 16px;
  }
  .modal .modal-title {
    font-size: 16px;
  }
  .modal .form-bottom {
    margin: 0;
    flex-wrap: wrap;
  }
  .modal .form-bottom .btn {
    margin: 10px 0 0;
    width: 100%;
  }

  .modal-wrapper {
    padding: 20px 15px;
  }

  .nopage-content {
    padding-top: 30px;
  }
  .nopage-content .title {
    margin-bottom: 27px;
  }
  .nopage-content .btn {
    width: 290px;
  }
  .nopage-content p {
    font-size: 11px;
    margin-bottom: 28px;
  }
  .nopage-content p strong {
    font-size: 12px;
  }

  .order-payment-title {
    font-size: 16px;
    margin: 0 0 20px;
  }
  .order-directions-row .btn{
    margin-top: 20px
  }
  .order-dark-valutes-buttons .btn{
    margin: 0 auto 15px
  }
  .order-dark-valutes-buttons .btn:last-of-type{
    margin: 0 auto 15px
  }
  .top-lang-drop{
    top: 50px;
    right: 15px;
    padding-top: 0;
    background: #fff
  }
  .mob-menu-btn:hover .mob-menu {
    opacity: 1;
    z-index: 15;
  }
  .mob-menu-btn:hover + .mob-menu-close{
    display: flex;
  }
}
@media (max-width: 575.98px) {
  .main .title {
    margin-bottom: 33px;
    font-size: 16px;
    line-height: 19px;
  }

  .title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 25px;
  }

  footer {
    padding: 18px 0 13px;
  }

  .footer-wrapper {
    flex-wrap: wrap;
    max-width: 320px;
    margin: 0 auto;
  }

  .footer-social {
    order: 1;
    width: 100%;
  }
  .footer-social h4 {
    display: none;
  }
  .footer-social .flex {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-social .flex a {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    margin-bottom: 10px;
  }

  .footer-main {
    order: 2;
    width: 100%;
  }
  .mobile-app{
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-app p{width: 100%;}
  .mobile-app .footer-app{width: 50%; padding:2px 10px;max-width: 50%;}
  .mobile-app .footer-app.best{margin-top: 10px;width: 100%;max-width: 100%;display: flex;justify-content: center}
  .mobile-app .footer-app.best img{max-width: 50%;}

  .copyright {
    max-width: 100%;
    font-size: 10px;
    line-height: 150%;
    text-align: center;
    margin: 0;
  }

  .footer-bestchange {
    display: none;
  }

  .reg-login-content {
    padding: 26px 15px 50px;
  }

  .reg-login-wrapper form {
    padding: 0;
  }
  .reg-login-wrapper .input-group {
    margin-bottom: 15px;
  }
  .reg-login-wrapper .check {
    margin-top: 18px;
  }

  .reg-login-bottom {
    margin-top: 15px;
  }

  .order-status-buttons {
    flex-wrap: wrap;
  }
  .order-status-buttons .btn {
    width: 100%;
    margin-bottom: 15px;
  }
  .order-status-buttons .btn:last-of-type {
    margin-bottom: 0;
  }

  .order-status-item {
    height: auto;
    padding: 15px;
    font-size: 14px;
    margin-bottom: 45px;
  }
  .order-status-item p:first-of-type {
    text-align: left;
  }
  .order-status-item p:last-of-type {
    text-align: right;
  }
  .order-status-item p span {
    display: none;
  }
  .order-status-item svg {
    min-width: 8px;
    margin: 0 5px;
  }

  .order-status-requisites {
    margin: 0 auto 25px;
  }
  .order-status-requisites .item {
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 3px;
  }

  .order-verification-info .flex {
    flex-wrap: wrap;
  }
  .order-verification-info .flex .btn {
    width: 100%;
    margin: 0 0 15px;
  }
  .order-verification-info .flex .no-verification-link {
    margin: 0 auto;
  }

  .reviews-info-left {
    width: 100%;
  }

  .reviews-info-right {
    width: 100%;
    padding-top: 13px;
  }

  .contacts-content, .reviews-content {
    padding-top: 28px;
  }
  .contacts-content .title, .reviews-content .title {
    text-align: center;
  }

  .contacts-wrapper h3, .reviews-wrapper h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 12px;
    text-transform: none;
  }
  .contacts-wrapper p, .reviews-wrapper p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .contacts-wrapper a.contacts-email, .reviews-wrapper a.reviews-email {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .contacts-wrapper .btn, .reviews-wrapper .btn {
    width: 100%;
  }

  .contacts-social a {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 20px;
  }

  .contacts-form h3, .reviews-form h3 {
    text-transform: uppercase;
    margin-bottom: 27px;
    font-weight: 700;
  }
  .contacts-form .btn, .reviews-form .btn {
    margin-bottom: 18px;
  }
  .contacts-form p, .reviews-form p {
    font-size: 10px;
    line-height: 150%;
    margin: 0;
  }

  .cabinet-banners {
    margin: 0 -15px;
  }

  .refer-link .flex {
    position: relative;
  }
  .refer-link .flex .btn {
    font-size: 0;
    min-width: 20px;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    position: absolute;
    background: transparent;
    right: 20px;
    top: 13px;
  }
  .refer-link .flex .btn svg {
    margin: 0;
  }
  .refer-link .flex input {
    width: 100%;
    margin: 0 !important;
    height: 40px;
  }

  .cabinet-referral-wrapper {
    flex-wrap: wrap;
  }
  .cabinet-referral-wrapper .col {
    width: 100%;
  }

  .cabinet-referral-buttons {
    align-items: center;
    margin: 20px 0 0;
    flex-wrap: wrap;
  }
  .cabinet-referral-buttons .btn {
    width: 100%;
    margin: 0 0 15px;
  }



  .order-directions {
    max-width: 260px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .order-directions a {
    width: 100%;
    margin: 0 0 5px;
    height: 40px;
  }

  .order-dark-valutes .flex {
    flex-wrap: wrap;
  }
  .order-dark-valutes .valutes-wrapper {
    width: 100%;
    margin: 0 0 30px;
  }
  .order-dark-valutes .valutes-wrapper a {
    justify-content: center;
    width: calc(50% - 3px);
    margin-bottom: 6px;
  }
  .order-dark-valutes .btn {
    width: 100%;
    margin: 0 auto 15px;
    max-width: 320px;
  }

  .cooperation-alert .flex {
    height: auto;
  }
  .cooperation-alert p {
    font-size: 11px;
  }
  .order-notification form{
    grid-template: repeat(1, 1fr)/repeat(1, 1fr);
  }
  .adv-banner-list form{
    flex-wrap: wrap;
  }
  .cabinet-referral-wrapper .adv-banner-list form select{
    width: 100%;
    margin-right: 0
  }
  .adv-banner-list form .btn{
    width: 100%
  }
}

/*# sourceMappingURL=media.css.map */
